aif360>=0.5.0
fairlearn @ git+https://github.com/MiroDudik/fairlearn.git@f11f99acd2ba724f9ef885973830d8f3390b0717#egg=fairlearn
folktables @ git+https://github.com/zykls/folktables.git@ebace19d8065efc43589f0067bf183398eb156b9
matplotlib>=3.7.1
numpy>=1.22.4,<2
pandas>=1.4.2
Requests>=2.31.0
scikit_learn>=1.0.2
scipy>=1.7.3
seaborn>=0.11.2
Send2Trash>=1.8.0
setuptools>=67.6.1
tqdm>=4.64.0
cvxpy>=1.4.2
dccp
ipywidgets
fair-classification @ git+https://github.com/baraldian/fair-classification-python3@master