BlackBoxAuditing==0.1.54
Requests>=2.31.0,<=2.32.3
Send2Trash==1.8.0
aif360>=0.5.0,<=0.6.1
altair==4.1.0
cvxpy>=1.4.2,<=1.5.3
dccp==1.0.5
ecos==2.0.14
fair-classification @ git+https://github.com/baraldian/fair-classification-python3@master
fairlearn @ git+https://github.com/MiroDudik/fairlearn.git@f11f99acd2ba724f9ef885973830d8f3390b0717#egg=fairlearn
folktables @ git+https://github.com/zykls/folktables.git@ebace19d8065efc43589f0067bf183398eb156b9
ipywidgets
matplotlib>=3.7.1,<=3.9.2
numpy>=1.22.4,<2
pandas>=1.4.2,<=2.2.2
pytest==8.3.3
scikit-learn>=1.0.2,<=1.5.2
scipy>=1.7.3,<=1.14.1
seaborn>=0.11.2,<=0.13.2
setuptools==67.6.1
streamlit-scrollable-textbox==0.0.1
streamlit-toggle==0.1.3
streamlit-vertical-slider==2.5.5
streamlit==1.42.0
tensorflow==2.18.0
tqdm==4.64.0
